SPRING_PROFILES_ACTIVE=ec2
FILE_SERVICE_PORT=8083
EUREKA_SERVER_URL=http://eureka-server:8761/eureka/

FILE_DB_URL=jdbc:mysql://mysql:3306/file_db?useSSL=false&allowPublicKeyRetrieval=true&serverTimezone=UTC
FILE_DB_USERNAME=root
FILE_DB_PASSWORD=<same-as-MYSQL_ROOT_PASSWORD>
