SPRING_PROFILES_ACTIVE=ec2
EXECUTION_SERVICE_PORT=8085
EUREKA_SERVER_URL=http://eureka-server:8761/eureka/
EXECUTION_DB_URL=jdbc:mysql://mysql:3306/execution_db?useSSL=false&allowPublicKeyRetrieval=true&serverTimezone=UTC
EXECUTION_DB_USERNAME=root
EXECUTION_DB_PASSWORD=<same-as-MYSQL_ROOT_PASSWORD-or-dedicated-db-password>
RABBITMQ_HOST=rabbitmq
RABBITMQ_PORT=5672
RABBITMQ_USER=codesync
RABBITMQ_PASS=<same-as-RABBITMQ_PASS>
EXECUTION_PYTHON_CMD=python
EXECUTION_NODE_CMD=node
EXECUTION_JAVA_CMD=java