SPRING_PROFILES_ACTIVE=ec2
VERSION_SERVICE_PORT=8086
EUREKA_SERVER_URL=http://eureka-server:8761/eureka/
VERSION_DB_URL=jdbc:mysql://mysql:3306/version_db?useSSL=false&allowPublicKeyRetrieval=true&serverTimezone=UTC
VERSION_DB_USERNAME=root
VERSION_DB_PASSWORD=<same-as-MYSQL_ROOT_PASSWORD-or-dedicated-db-password>
FILE_SERVICE_URL=http://file-service:8083